.counter{
    text-align: center;
    font-size: xx-large;
}

.jumbotron{
    text-align: center;
    height: 180px;
}

.botones{
    display: block;
    margin: 30px;
}

.anuncio{
    margin-top: 52px;
    text-align: center;

}

.preg{
    font-size: 30px;
}